node_modules
.next
out
dist
.vercel
.env
.env.local
.env.local.emulator
coverage
*.tsbuildinfo
functions/lib
functions/node_modules
firebase-debug.log
firestore-debug.log
emulator-data/
.env.local.test
